<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="O. Kalu">
    <link rel="icon" href="favicon.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">-->
    <title>eLibrary - a demo spring boot webapp</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a style="padding-right: 2em;" class="navbar-brand" href="/">E-Registration : : : Student Registration</a>
    <!--<span style="color: #ffffff;"> &nbsp; | &nbsp;</span>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                <a class="nav-link" href="/students">List of Students</a>
            </li>
            <li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
                <a class="nav-link" href="/register">Add New Student</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
            <!--<a style="color: #ffffff; margin-right: 0em;" class="nav-link" href="#">John Doe</a>-->
            <!--<a href="#" class="btn btn-secondary">Sign In</a>-->
        </form>
    </div>
</nav>

<p>&nbsp;</p>
<div class="container">
    <h3>Update A Student</h3>
    <hr/>
    <div style="font-size: 1em">
        <table class="table">
            <form  action="#" th:action="@{/update/{id}(id=${st.studentId})}"  th:object="${st}" method="post">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Enter student name"  th:field="*{firstName}" >
                    <div>
                        <span style="color: red;" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="middleName">Middle Name</label>
                    <input type="text" class="form-control" id="middleName" placeholder="Enter student name" th:field="*{middleName}"  >
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Enter student name" th:field="*{lastName}"  >
                </div>
                <div class="form-group">
                    <label for="studentNumber">Student Number</label>
                    <input type="text" class="form-control" id="studentNumber" placeholder="Enter student name" th:field="*{studentNumber}"  >
                </div>
                <div class="form-group">
                    <label for="gpa">Gpa</label>
                    <input type="text" class="form-control" id="gpa" placeholder="Course" th:field="*{gpa}"  >
                </div>
                <div class="form-group">
                    <label for="enrollmentDate">Enrollment Date</label>
                    <input type="date" class="form-control" id="enrollmentDate" placeholder="Course" th:field="*{enrollmentDate}"  >
                </div>
                <div class="form-group ">
                    <label for="isInternational">International Student?</label>
                    <select th:field="*{isInternational}" class="custom-select my-1 mr-sm-2" id="isInternational" name="isInternational">
                        <option th:value="'--'" th:text="Choose......" selected>Choose...</option>
                        <option th:value="'Yes'" th:text="Yes">Yes</option>
                        <option th:value="'No'" th:text="No">No</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </table>
    </div>
</div>

<!--     <footer class="footer">
        <div class="container">
            <span class="text-muted">O. Kalu : : : CS425-SWE</span><span style="float:right;" class="text-muted">&copy; November 2018</span>
        </div>
    </footer> -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
